 
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image:url('Smp.jpg');
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: white;
    text-align: center;
    font-size:40px;
}

#attendantTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#attendantTable th, #attendantTable td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#attendantTable th {
    background-color: #f2f2f2;
}

#attendantTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#attendantTable button {
    padding: 8px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}

#attendantTable button + button {
    margin-left: 5px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

@media (max-width: 600px) {
    #attendantTable {
        font-size: 14px;
    }
}
 

.modal-content form {
    max-width: 400px;
    margin: 0 auto;
}

.modal-content label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.modal-content button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.modal-content button:hover {
    background-color: #45a049;
}

 
