@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html{
    font-size: 62.5%;
    overflow-x:hidden;
    scroll-behavior:smooth;
    scroll-padding-top:7rem;
}
/* css for banner*/
.features {
    padding: 2rem 9%;
    background:silver;
}

/* */
@media(max-width:991px)
{
    .features {
        font-size:55%;
 }
 
.features {
    padding:2rem;

 }
}



/* features code*/
.features h1{
        color:black;
     font-size:50px;
     text-align:center;
      }
.features .box-container{
      border:0px solid;
      display:grid;
      grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
      gap:1.5rem;
}
.features .box-container .box{
    border:2px solid black;
    padding:3rem 2rem;
    background:#fff;
    
    text-align:center;
    box-shadow:var(--box-shadow);
    height:67vh;
}
.features .box-container .box:hover{
    box-shadow:1px 1px 10px 4px var(--black);
}
.features .box-container .box img{
   padding:10px;
   padding-top:5px;
    height:25rem;
}
.features .box-container .box h3{
    font-size:2.5rem;
    line-height:1.8;
    color:var(--black);
}
.features .box-container .box p{
    font-size:1.5rem;
    line-height:1.8;
    color:var(--light-color);
    padding-bottom:1rem 0;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
 }
 .header{
     position:fixed;
     top:0;
     left:0;
     width:100%;
     padding:10px 10%;
     background-color:white;
     display:flex;
     justify-content:space-between;
     align-items:center;
     z-index:100;
     }   
 .logo{
     font-size:25px;
     color:#ededed;
     text-decoration:none;
     font-weight:600;
     }
 .navbar a{
     font-size:18px;
     color:#4f5fff;
     text-decoration:none;
     font-weight:500;
     margin-left:65px;
     font-family:'poppins',sans-serif;
     
     }  
 .navbar a:hover,
 .navbar a:active{
     color:green;
     border: 0px solid;
     border-radius: .5rem;
    background:#eee;
    padding-left:0;
    text-align: center;
    cursor:pointer;
    padding: 8px 16px;
     }
  
  .home{
     height:100vh;
     display:flex;
     align-items:center;
     padding:0 10%;
     background:#081b29;
     background-image:url("Images/Smp.jpg");
     background-size:cover;
     color:#edededed;
}
   .home .novis{
       visibility:hidden;
       }
.home-content{
   color:white;
   max-width:900px;
   animation: slideBottom 1s ease forwards;
   animation-delay: .7s;
   }
    .home-content p{
       font-size:20px;
       font-family:'poppins',sans-serif;
       }
       
 .home-content h3{
     font-size:30px;
       color:yellowgreen;
       font-family:palatino,serif;
       font-weight:900;
     
     }
     .tweet-button{
        text-align:center;
        border:none;
        width:200px;
        height:50px;
        border-radius:50px;
        color:silver;
        font-size:20px;
        font-weight:bold;
        cursor:pointer;
        justify-content:center;
        transition:box-shadow 0.1s;
        display:inline-flex;
        background:#00abf0;
        border:2px solid #00abf0;
        padding:10px 20px 20px 20px;
      }
   .tweet-button2{
        text-align:right;
        background-color:yellowgreen;
        border:none;
        width:200px;
        height:50px;
        border-radius:50px;
        color:silver;
        font-size:20px;
        font-weight:bold;
        cursor:pointer;
        justify-content:center;
        transition:box-shadow 0.1s;
        display:inline-flex;
        background:#00abf0;
        border:2px solid #00abf0;
        padding:10px 20px 20px 20px;
      }
      .tweet-button:hover{
         box-shadow:10px 10px 10px white;
         }
       .tweet-button:active{
         background-color:white;
         color:Dodgerblue;
        }
           .tweet-button2:hover{
         box-shadow:10px 10px 10px white;
         }
       .tweet-button2:active{
         background-color:white;
         color:Dodgerblue;
        }
 
   *{
       padding:0px;
       margin:0px;
       box-sizing:border-box;
       font-family:'Roboto',sans-serif;
       }

.contact {
  min-height: 120vh;
  width: 100%;
  background: silver;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}
.content .right-side h1{
     color:#3452eb;
     font-size:40px;
     text-align:center;
     }
 .content .right-side p{
       text-align:center;
       }
.contact .container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}

.right-side .button{
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  box-shadow: 0 9px #999;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.right-side .button:hover { background: #90EE90}

.right-side .button:active {
  background: #90EE90;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  }

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
} 
